Checks:
# ------------------------------------------------------------------------------------------------
  - 'clang-analyzer-*'
  - 'cppcoreguidelines-*'
  - 'modernize-*'
  - 'readability-*'
  - 'portability-*'
  - 'performance-*'
  - 'bugprone-*'
  - 'misc-*'
# ------------------------------------------------------------------------------------------------
  - '-cppcoreguidelines-avoid-magic-numbers'  # alias
  - '-cppcoreguidelines-non-private-member-variables-in-classes'  # alias
  - '-modernize-use-nullptr'  # crash
# ------------------------------------------------------------------------------------------------
  - '-cppcoreguidelines-avoid-goto'
  - '-cppcoreguidelines-macro-usage'
  - '-cppcoreguidelines-owning-memory'
  - '-cppcoreguidelines-pro-type-vararg'
  - '-modernize-type-traits'
  - '-modernize-use-constraints'
  - '-readability-braces-around-statements'
  - '-readability-else-after-return'
  - '-readability-identifier-length'
  - '-readability-uppercase-literal-suffix'
# ------------------------------------------------------------------------------------------------
